 <div class='c-accordion'>
 {% for i, item in data.accordion_items %}

   <div class='bg-color-white border-2 border-color-black border-solid p-0 mb-1'>
    <h4>
      <button class='font-bold flex justify-between items-center w-full relative my-0 p-6 focus:outline-none [ lg:p-10 ]' data-js-accordion-button data-dropdown-target="dropdown-reveal-{{item.id}}">
        <span class='pointer-events-none'>{{ item.title }}</span>
      </button>
    </h4>
    <div class="overflow-hidden"  data-dropdown="dropdown-reveal-{{item.id}}">
      <div class='wysiwyg | p-6 pt-0 [ lg:p-10 lg:pt-0  ]' id="tab-content-{{item.id}}" aria-hidden="true" aria-labelledby="tab-{{item.id}}">
          {{ item.content|raw }}
      </div>
    </div>

  </div>
  {% endfor %}
</div>