<button class="
        p-4 bg-color-white border-solid border-color-black border-4 px-6
        hover:bg-color-black hover:text-color-white hover:shadow-lg
        duration-200">
  {{ title }}
</button>