<section>
  <div class="container">
    <div class="bg-color-white border-color-black-900 border-8 border-solid p-10">
      <h1 class="mt-0">{{ data.title }}</h1>
      <p class="mb-10 text-lg">{{ data.content }}</p>

      {% include "@templates/button/button.twig" with {
        title: data.button_title
      } %}

      <div class="my-10"></div>

      {% include "@templates/accordion/accordion.twig" with {
        accordion_items: accordion_items
      } %}

    </div>
  </div>
</section>