 /**
  * Tailwind's base styles and any base styles registered by
  * plugins.
  * Link: https://tailwindcss.com/docs/preflight
  */

 @import 'tailwindcss/base';

 /**
  * Tailwind's component classes and any component classes
  * registered by plugins.
  */
 @import 'tailwindcss/components';

 /**
  * Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
 @import 'tailwindcss/utilities';

 /* Typography */
 body {
   @apply text-lg;
 }

 h1, h2, h3, h4, h5, h6 {
   @apply font-bold;
 }

 h1 {
   @apply text-6xl;
 }

 h2 {
   @apply text-5xl;
 }

 h3 {
   @apply text-4xl;
 }

 h5 {
   @apply text-3xl;
 }

 h6 {
   @apply text-2xl;
 }
